.product {
    background-color: #f2f2fa;
    width: 350px;
    height: 200px;
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    // border: 1px solid black;
    margin: 20px;

    .prtdes {
        align-items: flex-start;
        margin: 10px;
    }


    .prdtHeader{
        font-weight:bolder;
        
    }
    .div1 {
        align-items: flex-start;
        justify-content: flex-start;
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        font-weight: bold;

    }
}

.log {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    border-radius: 100px;
    padding: 10px;

}