.crd{

    height: 450;
    width: 200;
    margin: 10px;
    align-items: center;
    justify-content: center;
    
}
    
     .Card{
    display: inline-block;
    background-color: white;
       border: 1px;
    margin: 10px;
   align-items: center;
}